frontend/node_modules
backend/__pycache__
backend/app/__pycache__
backend/app/api/__pycache__
backend/app/lip2sync.db
.env
backend/app/api/SadTalker
audio
images
recordings
public
video
backend/app/gfpgan/weights
Audio Control React App/node_modules
backend/app/api/gfpgan/weights/*
backend/app/checkpoints
Audio Control React App/build